<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аккаунт</title>
    <link rel ="stylesheet" href = "{% static 'main/css/style.css' %}">
</head>

<body>
<h1>Аккаунт пользователя</h1>
<table border="1">
    <tr>
        <td>Фамилия</td>
        <td>Иванов</td>
    </tr>
    <tr>
        <td>Имя</td>
        <td>Иван</td>
    </tr>
    <tr>
        <td>Отчество</td>
        <td>Иванович</td>
    </tr>
    <tr>
        <td>Дата рождения</td>
        <td>01.01.1987</td>
    </tr>
    <tr>
        <td>Город</td>
        <td>Сочи</td>
    </tr>
    <tr>
        <td>Телефон</td>
        <td>+7(900)0000000</td>
    </tr>
</table>
</body>
</html>