<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load bootstrap5 %}
{%bootstrap_css%}
{%bootstrap_javascript%}
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>{% block title %} Главная страница {% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="{% static 'magazine/font/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'magazine/font/font.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'magazine/css/bootstrap.min.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'magazine/css/style.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'magazine/css/responsive.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'magazine/css/jquery.bxslider.css' %}" media="screen" />
<script src="https://kit.fontawesome.com/b91fb3443a.js"></script>

<script type="text/javascript" src="{% static 'magazine/js/jquery-min.js' %}"></script>
<script type="text/javascript" src="{% static 'magazine/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'magazine/js/jquery.bxslider.js' %}"></script>
<script type="text/javascript" src="{% static 'magazine/js/selectnav.min.js' %}"></script>
<script type="text/javascript">

    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: true
    });
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
</script>
{% block head %}{% endblock %}
</head>
<body style="background-color:#202020;">
{% include 'magazine/header.html' %}
{% block sidebar %} {% include 'magazine/sidebar.html' %} {% endblock %}
{% block body %} {% include 'magazine/body.html' %} {% endblock %}



{% block foot %} {% include 'magazine/foot.html' %} {% endblock %}
</body>


</html>