{% load static %}
{% load bootstrap5 %}
<!--<div class="body_wrapper">-->
  <div class="center">
<!-- CONTENT -->
    <div class="content_area">
      <div class="main_content floatleft">
        <div class="left_coloum floatleft">
          <div class="single_left_coloum_wrapper">
            <h2 class="title">МИРОВЫЕ НОВОСТИ</h2>
            <a class="more" href="#">ПОДРОБНЕЕ</a>
            <div class="single_left_coloum floatleft"> <img src="{% static 'magazine/images/single_featured.png' %}" alt="" />
              <h3>Lorem ipsum dolor sit amet, consectetur</h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper
                dolor eu mattis.</p>
              <a class="readmore" href="#">ПОДРОБНЕЕ</a> </div>
            <div class="single_left_coloum floatleft"> <img src="{% static 'magazine/images/single_featured.png' %}" alt="" />
              <h3>Lorem ipsum dolor sit amet, consectetur</h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper
                dolor eu mattis.</p>
              <a class="readmore" href="#">ПОДРОБНЕЕ</a> </div>
            <div class="single_left_coloum floatleft"> <img src="{% static 'magazine/images/single_featured.png' %}" alt="" />
              <h3>Lorem ipsum dolor sit amet, consectetur</h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper
                dolor eu mattis.</p>
              <a class="readmore" href="#">ПОДРОБНЕЕ</a> </div>
          </div>
          <div class="single_left_coloum_wrapper">
            <h2 class="title">АКТУАЛЬНОЕ</h2>
            <a class="more" href="#">ПОДРОБНЕЕ</a>
            <div class="single_left_coloum floatleft"> <img src="{% static 'magazine/images/single_featured.png' %}" alt="" />
              <h3>Lorem ipsum dolor sit amet, consectetur</h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper
                dolor eu mattis.</p>
              <a class="readmore" href="#">ПОДРОБНЕЕ</a> </div>
            <div class="single_left_coloum floatleft"> <img src="{% static 'magazine/images/single_featured.png' %}" alt="" />
              <h3>Lorem ipsum dolor sit amet, consectetur</h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper
                dolor eu mattis.</p>
              <a class="readmore" href="#">ПОДРОБНЕЕ</a> </div>
            <div class="single_left_coloum floatleft"> <img src="{% static 'magazine/images/single_featured.png' %}" alt="" />
              <h3>Lorem ipsum dolor sit amet, consectetur</h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper
                dolor eu mattis.</p>
              <a class="readmore" href="#">ПОДРОБНЕЕ</a> </div>
          </div>
          <div class="single_left_coloum_wrapper gallery">
<!--            <h2 class="title">ГАЛЕРЕЯ</h2>-->
<!--            <a class="more" href="#">ПОДРОБНЕЕ</a> <img src="{% static 'magazine/images/single_featured.png' %}" alt="" /> <img src="{% static 'magazine/images/single_featured.png' %}" alt="" /> <img src="{% static 'magazine/images/single_featured.png' %}" alt="" /> <img src="{% static 'magazine/images/single_featured.png' %}" alt="" /> <img src="{% static 'magazine/images/single_featured.png' %}" alt="" /> <img src="{% static 'magazine/images/single_featured.png' %}" alt="" /> </div>-->
<!--          <div class="single_left_coloum_wrapper single_cat_left">-->
            <h2 class="title">МНЕНИЯ</h2>
            <a class="more" href="#">ПОДРОБНЕЕ</a>
            <div class="single_cat_left_content floatleft">
              <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit </h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...interdum</p>
              <p class="single_cat_left_content_meta">by <span>John Doe</span> |  29 comments</p>
            </div>
            <div class="single_cat_left_content floatleft">
              <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit </h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...interdum</p>
              <p class="single_cat_left_content_meta">by <span>John Doe</span> |  29 comments</p>
            </div>
            <div class="single_cat_left_content floatleft">
              <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit </h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...interdum</p>
              <p class="single_cat_left_content_meta">by <span>John Doe</span> |  29 comments</p>
            </div>
            <div class="single_cat_left_content floatleft">
              <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit </h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...interdum</p>
              <p class="single_cat_left_content_meta">by <span>John Doe</span> |  29 comments</p>
            </div>
          </div>
        </div>
        <div class="right_coloum floatright">
          <div class="single_right_coloum">
            <h2 class="title">АНАЛИТИКА</h2>
            <ul>
              <li>
                <div class="single_cat_right_content">
                  <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit</h3>
                  <p>Nulla quis lorem neque, mattis venen atis lectus. In interdum ull amcorper dolor eu mattis.</p>
                  <p class="single_cat_right_content_meta"><a href="#"><span>ПОДРОБНЕЕ</span></a> 3 hours ago</p>
                </div>
              </li>
<!--              <li>-->
<!--                <div class="single_cat_right_content">-->
<!--                  <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit</h3>-->
<!--                  <p>Nulla quis lorem neque, mattis venen atis lectus. In interdum ull amcorper dolor eu mattis.</p>-->
<!--                  <p class="single_cat_right_content_meta"><a href="#"><span>ПОДРОБНЕЕ</span></a> 3 hours ago</p>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li>-->
<!--                <div class="single_cat_right_content">-->
<!--                  <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit</h3>-->
<!--                  <p>Nulla quis lorem neque, mattis venen atis lectus. In interdum ull amcorper dolor eu mattis.</p>-->
<!--                  <p class="single_cat_right_content_meta"><a href="#"><span>ПОДРОБНЕЕ</span></a> 3 hours ago</p>-->
<!--                </div>-->
<!--              </li>-->
            </ul>
            <a class="popular_more" href="#">ПОДРОБНЕЕ</a> </div>
          <div class="single_right_coloum">
            <h2 class="title">РЕДАКЦИЯ ОБЪЯСНЯЕТ</h2>
            <div class="single_cat_right_content editorial"> <img src="{% static 'magazine/images/editorial_img.png' %}" alt="" />
              <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>
            </div>
<!--            <div class="single_cat_right_content editorial"> <img src="{% static 'magazine/images/editorial_img.png' %}" alt="" />-->
<!--              <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>-->
<!--            </div>-->
<!--            <div class="single_cat_right_content editorial"> <img src="{% static 'magazine/images/editorial_img.png' %}" alt="" />-->
<!--              <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>-->
<!--            </div>-->
<!--            <div class="single_cat_right_content editorial"> <img src="{% static 'magazine/images/editorial_img.png' %}" alt="" />-->
<!--              <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>-->
<!--            </div>-->
          </div>
        </div>
      </div>
      <div class="sidebar floatright">
<!--        <div class="single_sidebar"> <img src="{% static 'magazine/images/add1.png' %}" alt="" /> </div>-->
        <div class="single_sidebar">
          <div class="news-letter">
            <h2>ПОДПИСАТЬСЯ НА РАССЫЛКУ</h2>
            <p>Подпишитесь на нашу бесплатную рассылку!</p>
            <form action="#" method="post">
              <input type="text" value="Имя" id="name" />
              <input type="text" value="Email" id="email" />
              <input type="submit" value="ПОДПИСАТЬСЯ" id="form-submit" />
            </form>
            <p class="news-letter-privacy">Мы не рассылаем спам. Мы ценим вашу конфиденциальность!</p>
          </div>
        </div>
        <div class="single_sidebar">
          <div class="popular">
            <h2 class="title">ПОПУЛЯРНОЕ</h2>
            <ul>
              <li>
                <div class="single_popular">
                  <p>17 ноября 2023</p>
                  <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit <a href="#" class="readmore">ПОДРОБНЕЕ</a></h3>
                </div>
              </li>
              <li>
                <div class="single_popular">
                  <p>17 ноября 2023</p>
                  <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit <a href="#" class="readmore">ПОДРОБНЕЕ</a></h3>
                </div>
              </li>
              <li>
                <div class="single_popular">
                  <p>17 ноября 2023</p>
                  <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit <a href="#" class="readmore">ПОДРОБНЕЕ</a></h3>
                </div>
              </li>
<!--              <li>-->
<!--                <div class="single_popular">-->
<!--                  <p>17 ноября 2023</p>-->
<!--                  <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit <a href="#" class="readmore">ПОДРОБНЕЕ</a></h3>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li>-->
<!--                <div class="single_popular">-->
<!--                  <p>17 ноября 2023</p>-->
<!--                  <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit <a href="#" class="readmore">ПОДРОБНЕЕ</a></h3>-->
<!--                </div>-->
<!--              </li>-->
            </ul>
            <a class="popular_more">ПОДРОБНЕЕ</a> </div>
        </div>
        <div class="single_sidebar"> <img src="{% static 'magazine/images/add1.png' %}" alt="" /> </div>
        <div class="single_sidebar">
          <h2 class="title"></h2>
<!--          <img src="{% static 'magazine/images/add2.png' %}" alt="" /> </div>-->
      </div>
    </div>
    <!-- /CONTENT -->
  </div>
<!--</div>-->