{% load static %}
   <!-- HEADER -->
<div class="body_wrapper">
  <div class="center">

    <div class="header_area">
      <div class="logo floatleft"><a href="#"><img src="{% static 'magazine/images/logo.png' %}" alt="" /></a></div>
      <div class="top_menu floatleft">
        <ul>
          <li><a href="/magazine">Главная</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Контакты</a></li>
<!--          <li><a href="#">Подписка</a></li>-->
          <li><a href="/account">Войти</a></li>
        </ul>
      </div>
      <div class="social_plus_search floatright">
        <div class="social">
          <ul>
            <li><a href="#" class="twitter"></a></li>
            <li><a href="#" class="facebook"></a></li>
            <li><a href="#" class="feed"></a></li>
          </ul>
        </div>
        <div class="search">
          <form action="#" method="post" id="search_form">
            <input type="text" value="Найти новость" id="s" />
            <input type="submit" id="searchform" value="search" />
            <input type="hidden" value="post" name="post_type" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

      <!-- /HEADER -->