{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!--<div class="body_wrapper">-->
  <div class="center">
      <div class="header_area">
          <div class="col-md-9">
              <div class="main_title">
                  <a href="/magazine/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none" style="font-size: 50px; height:50px;color:#302a32;>
            <span class="fs-5 d-none d-lg-block responsive-title"">Телеграф</span>

            </a>
<!--                  <span style="margin-top: 100px;">Телеграф</span>-->
              </div>
              <div class="main_subtitle" style="font-size: 18px; height:80px;color:#302a32;>
                  <span style="margin-top: 100px;">Сетевое издание</span>
              </div>
              </div>

          {% if request.user.id %}  <!-- проверяем аутентификацию-->
          <div class="col-md-3">
              <div class="main_menu_area floatleft" style="height:230px; background:#FFFFFF">
                  <ul id="nav">
                      <li><button class="btn btn-primary dropdown-toggle col-11" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background:#302a32;">
                          <img src="{{ request.user.account.account_image.url }}" alt="" width="25" height="25" class="rounded-circle me-5">
                          <div class="d-none d-lg-block "> {{ request.user.username }} </div>
                          </button>
                          <ul style="background:#000;">
                              <li><a href="{% url 'create_article' %}">Создать статью</a></li>
                              <li><a href="{% url 'profile' %}">Мой аккаунт</a></li>
                              <li><hr class="dropdown-divider" style="color:white"></li>
                              <li><a href="{% url 'logout' %}">Выход</a></li>
                          </ul>
                      </li>
                  </ul>
                  </div>
          </div>
          {% else %} <!-- ссылки на регистрацию и аутентификацию-->
          <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                  <a href="{% url 'registration' %}" {% if request.resolver_match.view_name  == 'registration' %} class="link-active" aria-current="page" {% endif %}>
                  <i class="fa fa-user menu-icon"></i>
                  <div class="d-none d-lg-block">Регистрация</div>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'login' %}" {% if request.resolver_match.view_name  == 'login' %}
                  class="link-active" aria-current="page" {% endif %}>
                  <i class="fa fa-sign menu-icon {% if request.path  == '/users/' %}
                  link-active {% endif %}" ></i>
                  <div class="d-none d-lg-block">Вход</div>
                  </a>
                  </li>
              </ul>
          {% endif %}
          <br>
           {% if messages %}
           {% for message in messages %}
           <div class="alert alert-{{ message.tags }}">
               {{ message }}
           </div>
           {% endfor %}
           {% endif %}
      </div>
  </div>
<!--</div>-->

<!--<script type="text/javascript" src="{% static 'magazine/js/jquery-min.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'magazine/js/bootstrap.min.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'magazine/js/jquery.bxslider.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'magazine/js/selectnav.min.js' %}"></script>-->
<!--<script type="text/javascript">-->
<!--selectnav('nav', {-->
<!--    label: '-Navigation-',-->
<!--    nested: true,-->
<!--    indent: '-'-->
<!--});-->
<!--selectnav('f_menu', {-->
<!--    label: '-Navigation-',-->
<!--    nested: true,-->
<!--    indent: '-'-->
<!--});-->
<!--$('.bxslider').bxSlider({-->
<!--    mode: 'fade',-->
<!--    captions: true-->
<!--});-->
<!--</script>-->

      <!-- /HEADER -->