{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %} Новость {% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="{% static 'magazine/font/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'magazine/font/font.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'magazine/css/bootstrap.min.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'magazine/css/style.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'magazine/css/responsive.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'magazine/css/jquery.bxslider.css' %}" media="screen" />
{% block head %}{% endblock %}

</head>
   <!-- HEADER -->
<div class="body_wrapper">
  <div class="center">

    <div class="header_area">
      <div class="logo floatleft"><a href="#"><img src="{% static 'magazine/images/logo.png' %}" alt="" /></a></div>
      <div class="top_menu floatleft">
        <ul>
          <li><a href="/magazine">Главная</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Контакты</a></li>
<!--          <li><a href="#">Подписка</a></li>-->
          <li><a href="/account">Войти</a></li>
        </ul>
      </div>
      <div class="social_plus_search floatright">
        <div class="social">
          <ul>
            <li><a href="#" class="twitter"></a></li>
            <li><a href="#" class="facebook"></a></li>
            <li><a href="#" class="feed"></a></li>
          </ul>
        </div>
        <div class="search">
          <form action="#" method="post" id="search_form">
            <input type="text" value="Найти новость" id="s" />
            <input type="submit" id="searchform" value="search" />
            <input type="hidden" value="post" name="post_type" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

      <!-- /HEADER -->

<div class="body_wrapper">
  <div class="center">
      <!-- SIDEBAR -->
    <div class="main_menu_area">
      <ul id="nav">
        <li><a href="/news">НОВОСТИ</a>
          <ul>
            <li><a href="#">Single item</a></li>
            <li><a href="#">Single item</a></li>
            <li><a href="#">Single item</a>
              <ul>
                <li><a href="#">Single item</a></li>
                <li><a href="#">Single item</a></li>
                <li><a href="#">Single item</a></li>
                <li><a href="#">Single item</a></li>
                <li><a href="#">Single item</a></li>
              </ul>
            </li>
            <li><a href="#">Single item</a></li>
            <li><a href="#">Single item</a></li>
          </ul>
        </li>
        <li><a href="#">СПОРТ</a></li>
        <li><a href="#">ТЕХНОЛОГИИ</a>
          <ul>
            <li><a href="#">Single item</a></li>
            <li><a href="#">Single item</a></li>
            <li><a href="#">Single item</a></li>
            <li><a href="#">Single item</a></li>
            <li><a href="#">Single item</a></li>
          </ul>
        </li>
        <li><a href="#">БИЗНЕС</a></li>
        <li><a href="#">КИНО</a>
          <ul>
            <li><a href="#">Single item</a></li>
            <li><a href="#">Single item</a></li>
            <li><a href="#">Single item</a>
              <ul>
                <li><a href="#">Single item</a></li>
                <li><a href="#">Single item</a></li>
                <li><a href="#">Single item</a></li>
                <li><a href="#">Single item</a></li>
                <li><a href="#">Single item</a></li>
              </ul>
            </li>
            <li><a href="#">Single item</a></li>
            <li><a href="#">Single item</a></li>
          </ul>
        </li>
        <li><a href="#">КУДА ПОЙТИ</a></li>
        <li><a href="#">КУЛЬТУРА</a></li>
        <li><a href="#">КНИГИ</a>
        <li><a href="#">БЛОГИ</a>
          <ul>
            <li><a href="#">Single item</a></li>
            <li><a href="#">Single item</a></li>
            <li><a href="#">Single item</a></li>
            <li><a href="#">Single item</a></li>
            <li><a href="#">Single item</a></li>
          </ul>
        </li>
        <li><a href="#">classifieds</a></li>
        <li><a href="#">blogs</a></li>
      </ul>
    </div>
    <!-- /SIDEBAR -->
  </div>
</div>

<div class="body_wrapper">
  <div class="center">
<!-- CONTENT -->
    <div class="content_area">
      <div class="main_content floatleft">
        <div class="single_left_coloum_wrapper">
          <h2 class="title">Чемпионат по сёрфингу</h2>
          <a class="more" href="/news_1">подробнее</a>
          <div class="single_left_coloum floatleft"> <img src="{% static 'magazine/images/1.jpg' %}" alt="" title="Чемпионат города по сёрфингу" />
            <h3>Lorem ipsum dolor sit amet, consectetur</h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper
                dolor eu mattis.</p>
        </div>
      </div>




