{% extends 'magazine/homebase.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block title %} Страница обратной связи {% endblock %}
{% block slider %}{% endblock %}
{% block body %}

<!--<div class="body_wrapper">-->
  <div class="center">
        <div class="row">
            <div class="text-center" style="margin-top:30px;">
                    <h1 >Страница обратной связи</h1>

                <a class="logo" href="#">
							<img src="{% static 'magazine/images/Кот.png' %}" style="width:500px; height:500px;" alt="">
						</a>
                <br><br><br>

                <h3>От лица редактор заявляю, </h3>
                <h3>Телеграф это те новости, которые вы с радостью узнаёте первыми</h3>
                <h3>и сразу делитись ими со всеми</h3>

                <h3> Напишите нам, мы рады любой обратной связи</h3>

                <h3>Ваш, Кот Учёный</h3>
            <br><br><br>
            </div>
            <form method="post" class="contact_form">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-success" value = "Отправить">
            </form>
        </div>
  </div>
<!--</div>-->
{% endblock %}